nav.navbar.navbar-expand-lg
    .container-fluid.mb-2
        a.navbar-brand(href="/") UltiStats
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-home" aria-controls="navbar-home" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbar-home 
            ul.navbar-nav.ms-auto 
                include navbar_contents
                