extends _baseEmail

block content
    p Hello, #{name},
    p Welcome to UltiStats! Please activate your account by clicking on the link below. 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Click to activate your account
    p Feel free to contact me with any bug reports or suggestions. Good luck to you and your team!
    p - Chuck Yu, Developer
