.modal.fade#add-player-modal(tabindex="-1" aria-labelledby="add-player-label" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content#add-player-modal-content
            .modal-header
                h5.modal-title#add-player-label Add Player
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form#add-player-form(autocomplete="off")
                    input#add-player-id(type='hidden' value='' data-field="id")
                    .input-group-h.w-100.mb-3
                        .input-group-f.input-group-1
                            label.form-label(for="add-first-name") First name:
                            .input-group
                                input#add-first-name.form-control(type="text" placeholder="First Name" data-field="firstName" required)
                        .input-group-f.input-group-1
                            label.form-label(for="add-last-name") Last name:
                            .input-group
                                input#add-last-name.form-control(type="text" placeholder="Last Name" data-field="lastName" required)
                    .input-group-h.w-100.mb-3
                        .input-group-f.input-group-3
                            label.form-label(for="add-display-name") Display name:
                            .input-group
                                input#add-display-name.form-control(type="text" placeholder="Display Name"  data-field="displayName")
                        .input-group-f.input-group-1
                            label.form-label(for="add-number") Number:
                            .input-group
                                input#add-number.form-control(type="text" placeholder="##" size="2" pattern="[0-9]{1,2}" maxlength="2" data-field="number")
                    .input-group-h.w-100.mb-3
                        #add-gender-match.mixed-only.input-group-f.input-group-1
                            label.form-label Gender match:
                            .input-group
                                input#add-gen-m.me-2(type="radio" name="add-gender-match" value="M" checked) 
                                label.me-2(for='add-gen-m') Male
                            .input-group
                                input#add-gen-f.me-2(type="radio" name="add-gender-match" value="F")
                                label(for='add-gen-f') Female
                        .input-group-f.input-group-1
                            label.form-label Primary Line:
                            .input-group
                                input#add-line-d.me-2(type="radio" name="add-line" value="D" checked) 
                                label.me-2(for='line-d') Defense
                            .input-group
                                input#add-line-o.me-2(type="radio" name="add-line" value="O")
                                label(for='line-o') Offense
                        .input-group-f.input-group-1
                            label.form-label Position:
                            .input-group
                                select#add-position
                                    option(value="-") None
                                    option(value="H") Handler
                                    option(value="C") Cutter 
                                    option(value="Hy") Hybrid
            .modal-footer
                button.btn.btn-secondary#cancel-add-player(type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#tournament-roster-modal") Cancel
                button.btn.btn-primary#confirm-add-player(type="submit" form="add-player-form") Save