.modal.fade#edit-rostered-player-modal(tabindex="-1" aria-labelledby="edit-rostered-player-label" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content#edit-rostered-player-modal-content
            .modal-header
                h5.modal-title#edit-rostered-player-label Edit Player
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                h6 Note: Editing a player on the tournament roster does NOT propogate the change to the team's main roster.
                form#edit-rostered-player-form(autocomplete="off")
                    input#edit-rostered-player-id(type='hidden' value='' data-field="id")
                    .input-group-h.w-100.mb-3
                        .input-group-f.input-group-1
                            label.form-label(for="edit-first-name") First name:
                            .input-group
                                input#edit-roster-first-name.form-control(type="text" placeholder="First Name" data-field="firstName" required)
                        .input-group-f.input-group-1
                            label.form-label(for="edit-last-name") Last name:
                            .input-group
                                input#edit-roster-last-name.form-control(type="text" placeholder="Last Name" data-field="lastName" required)
                    .input-group-h.w-100.mb-3
                        .input-group-f.input-group-3
                            label.form-label(for="edit-display-name") Display name:
                            .input-group
                                input#edit-roster-display-name.form-control(type="text" placeholder="Display Name"  data-field="displayName")
                        .input-group-f.input-group-1
                            label.form-label(for="edit-number") Number:
                            .input-group
                                input#edit-roster-number.form-control(type="text" placeholder="##" size="2" pattern="[0-9]{1,2}" maxlength="2" data-field="number")
                    .input-group-h.w-100.mb-3
                        #edit-gender-match.input-group-f.input-group-1
                            label.form-label(for="edit-roster-gender-match") Gender match:
                            .input-group
                                input#edit-roster-gen-m.me-2(type="radio" name="edit-roster-gender-match" value="M") 
                                label.me-2(for='edit-roster-gen-m') Male
                            .input-group
                                input#edit-roster-gen-f.me-2(type="radio" name="edit-roster-gender-match" value="F")
                                label(for='edit-roster-gen-f') Female
                        .input-group-f.input-group-1
                            label.form-label(for="edit-roster-line") Primary Line:
                            .input-group
                                input#edit-roster-line-d.me-2(type="radio" name="edit-roster-line" value="D") 
                                label.me-2(for='edit-roster-line-d') Defense
                            .input-group
                                input#edit-roster-line-o.me-2(type="radio" name="edit-roster-line" value="O")
                                label(for='edit-roster-line-o') Offense
                        .input-group-f.input-group-1
                            label.form-label(for="edit-roster-position") Position:
                            .input-group
                                select#edit-roster-position
                                    option(value="-") None
                                    option(value="H") Handler
                                    option(value="C") Cutter 
                                    option(value="Hy") Hybrid
            .modal-footer
                button.btn.btn-secondary#cancel-edit(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary#confirm-edit(type="submit" form="edit-rostered-player-form") Save