.modal.fade#edit-player-modal(tabindex="-1" aria-labelledby="edit-player-label" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content#edit-player-modal-content
            .modal-header
                h5.modal-title#edit-player-label Edit Player
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form#edit-player-form
                    input#edit-player-id(type='hidden' value='')
                    .input-group-h.mb-3
                        .input-group-f.input-group-1
                            label.form-label(for="edit-first-name") First name:
                            .input-group
                                input#edit-first-name.form-control(type="text" placeholder="First Name" required)
                        .input-group-f.input-group-1
                            label.form-label(for="edit-last-name") Last name:
                            .input-group
                                input#edit-last-name.form-control(type="text" placeholder="Last Name" required)
                    .input-group-h.mb-3
                        .input-group-f.input-group-3
                            label.form-label(for="edit-display-name") Display name:
                            .input-group
                                input#edit-display-name.form-control(type="text" placeholder="Display Name")
                        .input-group-f.input-group-1
                            label.form-label(for="edit-number") Number:
                            .input-group
                                input#edit-number.form-control(type="text" placeholder="##" size="2" pattern="[0-9]{1,2}" maxlength="2")
                    .input-group-h.mb-3
                        #edit-gender-match.input-group-f.input-group-1
                            label.form-label(for="edit-gender-match") Gender match:
                            .input-group
                                input#edit-gen-m.me-2(type="radio" name="edit-gender-match" value="M") 
                                label.me-2(for='edit-gen-m') Male
                            .input-group
                                input#edit-gen-f.me-2(type="radio" name="edit-gender-match" value="F")
                                label(for='edit-gen-f') Female
                        .input-group-f.input-group-1
                            label.form-label(for="edit-line") Primary Line:
                            .input-group
                                input#edit-line-d.me-2(type="radio" name="edit-line" value="D") 
                                label.me-2(for='line-d') Defense
                            .input-group
                                input#edit-line-o.me-2(type="radio" name="edit-line" value="O")
                                label(for='line-o') Offense
                        .input-group-f.input-group-1
                            label.form-label(for="edit-position") Position:
                            .input-group
                                select#edit-position
                                    option(value="-") None
                                    option(value="H") Handler
                                    option(value="C") Cutter 
                                    option(value="Hy") Hybrid
            .modal-footer
                button.btn.btn-secondary#cancel-edit(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary#confirm-edit(type="submit" form="edit-player-form") Save