.modal.fade#tournament-roster-modal(tabindex="-1" aria-labelledby="tournament-roster-label" aria-hidden="true")
    #tournament-roster-modal-dialog.modal-dialog.modal-dialog-centered(style="height: 70%;")
        .modal-content#tournament-roster-modal-content(style="height: 90%;")
            .modal-header
                h5.modal-title#tournament-roster-label Modify Tournament Roster
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.overflow-hidden
                .input-group-f.h-100.overflow-hidden
                    h6 Removing players from your tournament roster will also remove them from any preset lines.
                    #roster-filter-panel.filter-panel.input-group-h.w-100
                        #tournament-roster-gender-filter.mixed-only.input-group-f.input-group-1
                            .form-label Gen 
                            .input-group-h.w-100.input-group-1 
                                input#toggle-line-mm(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="male" checked)
                                label.ms-1.me-2(for="toggle-line-mm") M
                                input#toggle-line-fm(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="female" checked)
                                label.ms-1.me-2(for="toggle-line-fm") F
                        .input-group-f.input-group-1
                            .form-label Ln
                            .input-group-h.w-100.input-group-1 
                                input#toggle-line-dl(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="defense" checked)
                                label.ms-1.me-2(for="toggle-line-dl") D
                                input#toggle-line-ol(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="offense" checked)
                                label.ms-1.me-2(for="toggle-line-ol") O
                        .input-group-f.input-group-1
                            .form-label Pos 
                            .input-group-h.w-100.input-group-1 
                                input#toggle-line-hd(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="handler" checked)
                                label.ms-1.me-2(for="toggle-line-hd") H
                                input#toggle-line-ct(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="cutter" checked)
                                label.ms-1.me-2(for="toggle-line-ct") C
                                input#toggle-line-hy(type="checkbox" data-target="#non-roster-container,#tourney-roster-container" data-toggle="hybrid" checked)
                                label.ms-1.me-2(for="toggle-line-hy") Hy
                    .input-group-1.overflow-hidden
                        .h-100.overflow-hidden
                            form#tournament-roster-form.h-100(autocomplete="off")
                                .input-group-h.w-100.h-100
                                    .input-group-f.input-group-1.px-1.h-100.overflow-hidden
                                        .form-label Available
                                        .h-100.w-100.input-group-f.input-group-1.overflow-hidden
                                            #non-roster-container.player-container.left-side.fill-scroll
                                            .input-group-h.w-100.ai-c.jc-c.f-sb.mt-2
                                                button.select-all(type="button" data-target="#non-roster-container") All 
                                                button.select-none(type="button" data-target="#non-roster-container") None
                                    .px-1.m-auto
                                        .input-group-f.w-100
                                            .my-1.w-100
                                                button#move-one.move-one.w-100.move-right(type="button" title="Move selected")
                                            .my-1.w-100
                                                button#move-all.move-all.w-100.move-right(type="button" title="Move all")
                                            .my-4.w-100 
                                                button#create-new-player(type="button" data-bs-toggle="modal" data-bs-target="#add-player-modal") New
                                    .input-group-f.input-group-1.px-1.h-100.overflow-hidden
                                        .form-label Selected (#[span#roster-count 0])
                                        .h-100.w-100.input-group-f.input-group-1.overflow-hidden
                                            #tourney-roster-container.player-container.right-side.fill-scroll
                                            .input-group-h.w-100.ai-c.jc-c.f-sb.mt-2
                                                button.select-all(type="button" data-target="#tourney-roster-container") All 
                                                button.select-none(type="button" data-target="#tourney-roster-container") None
            .modal-footer
                button.btn.btn-secondary#cancel-save-roster(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary#confirm-save-roster(type="submit" form="tournament-roster-form") Save