.modal.fade#tournament-roster-modal(tabindex="-1" aria-labelledby="tournament-roster-label" aria-hidden="true")
    #tournament-roster-modal-dialog.modal-dialog.modal-dialog-centered(style="height: 70%;")
        .modal-content#tournament-roster-modal-content(style="height: 90%;")
            .modal-header
                h5.modal-title#tournament-roster-label Modify Tournament Roster
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.overflow-hidden
                .input-group-f.h-100.overflow-hidden
                    .input-group-1.h-100.pb-5
                        form#tournament-roster-form.h-100
                            .input-group-h.mt-3.w-100.h-100
                                .input-group-f.input-group-1.px-1.h-100.overflow-hidden
                                    .form-label Available roster
                                    .h-100.w-100.overflow-hidden
                                        .w-100.input-group-1.h-100.overflow-hidden
                                            #non-roster-container.fill-scroll
                                .px-1.m-auto
                                    .input-group-f.w-100
                                        .my-1.w-100
                                            button#move-one.w-100.move-right(type="button" title="Move selected")
                                        .my-1.w-100
                                            button#move-all.w-100.move-right(type="button" title="Move all")
                                .input-group-f.input-group-1.px-1.h-100.overflow-hidden
                                    .form-label Rostered Players
                                    .h-100.w-100.overflow-hidden
                                        .w-100.input-group-1.h-100.overflow-hidden
                                            #tourney-roster-container.fill-scroll 
            .modal-footer
                button.btn.btn-secondary#cancel-edit(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary#confirm-edit(type="submit" form="tournament-roster-form") Save