#eff.w-100.mb-3
    h5 Efficiency
    table#efficiency-table.w-100
        thead 
            tr 
                th Line
                th Pts
                th Cmp%
                th G/Poss
                th Eff% 
                th RZ G/Poss
                th RZ Eff%
        tbody 
            tr#eff-o
                td O 
                td
                td
                td 
                td 
                td 
                td 
            tr#eff-d
                td D 
                td
                td 
                td
                td 
                td 
                td
            tr#eff-all 
                td All
                td
                td 
                td
                td 
                td 
                td
            
