#leaders.m-auto.mb-3 
    h5 Leaders 
    table#leaders-table.w-100.g
        thead 
            tr 
                th.pp.g.a.d.cp.py.ry.ty.tch.to Player 
                th.pp.cp.to Pts Played
                th.g G
                th.a Ast
                th.d Blk
                th.cp Cmp 
                th.cp Att
                th.cp Cmp%
                th.py.ty P-Yds 
                th.ry.ty R-Yds
                th.ty T-Yds
                th.tch Touches
                th.to Turns
        tbody