#overview.w-100
    h5 Overview
    .w-100.d-flex.mb-3
        .f-1.d-flex.flex-column
            .stat-header Record
            .stat-value#overall-record #[span#wins]-#[span#losses]
        .f-1.d-flex.flex-column
            .stat-header Goals
            .stat-value#gf
        .f-1.d-flex.flex-column
            .stat-header Goals against
            .stat-value#ga #[span#wins]-#[span#losses]
