:root {
	--field-color: #005c0c;
}

html,
body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.profile-body {
	width: min(100%, 400px);
}

#score-bug {
	height: 1rem;
	font-weight: bold;
}

#score-bug > tbody > tr:first-child > td:not(:last-child) {
	border-bottom: 1px solid black;
}

.team-name {
	text-align: left;
}

.direction-span {
	min-width: 2rem;
	margin-left: 1rem;
}

.direction-span.left::after {
	content: '⇦';
	font-weight: bold;
}

.direction-span.right::after {
	content: '⇨';
	font-weight: bold;
}

.player-container {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid var(--black);
}

input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
	font-weight: bold;
}

input[name='jersey']:checked + label {
	border: 5px solid var(--black);
	border-collapse: collapse;
	box-sizing: border-box;
}

.move-one.move-left::after {
	content: '<';
	font-weight: bold;
}

.move-one.move-right::after {
	content: '>';
	font-weight: bold;
}

.move-all.move-left::after {
	content: 'x';
	font-weight: bold;
}

.team-timeouts {
	width: 1rem;
	height: 100%;
	padding: 0;
}

.timeout-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.timeout-marker {
	background-color: var(--black);
	margin: 1px;
	border: 1px solid var(--white);
}

.used-timeout {
	background-color: transparent;
}

.field-container {
	background-color: var(--field-color);
	width: min(100%, 400px);
}

.field {
	background-color: var(--field-color);
	border: 1px solid white;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.disc {
	position: absolute;
	background-color: var(--white);
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.disc-line {
	position: absolute;
	background-color: yellow;
	border: 1px solid yellow;
	height: 1px;
	z-index: 2;
	transform-origin: 0 50%;
}

#event-container {
	width: min(400px, 100%);
}

#event-desc {
	font-size: 0.75rem;
	height: 2rem;
	font-weight: bold;
}

.settings-row > .setting-label {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
	text-align: right;
}

.settings-row > .setting-container {
	flex: 1;
	display: flex;
	margin-left: 1rem;
}

.button-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
}

.button-row > div {
	min-width: 24%;
}

.player-button {
	min-width: 3rem;
	border: 3px solid var(--light-gray);
	margin: auto 1rem;
	font-weight: bold;
}

.action-container button {
	border: 3px solid transparent;
}

button[selected],
button[selected]:hover {
	border: 3px solid var(--black);
}

.jersey-number {
	font-size: 1.2rem;
}
.jersey-name {
	font-size: 0.8rem;
}

hr.separator {
	width: 50%;
	border-bottom: 3px solid var(--color-2);
	margin: 0.5rem auto;
}

.dropdown-item {
	font-size: 0.875rem;
}

.player-container:not(.male) > .sub-option[data-gender='M'],
.player-container:not(.female) > .sub-option[data-gender='F'],
.player-container:not(.defense) > .sub-option[data-line='D'],
.player-container:not(.offense) > .sub-option[data-line='O'],
.player-container:not(.handler) > .sub-option[data-position='H'],
.player-container:not(.cutter) > .sub-option[data-position='C'],
.player-container:not(.hybrid) > .sub-option[data-position='Hy'] {
	display: none !important;
}

.sub-option input[type='radio'] {
	width: 1rem;
	height: 1rem;
}
