.tournament-button {
	border: none;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

.tourney-section:not(:last-child)::after {
	margin: 0.5rem auto;
	display: block;
	content: '';
	width: 50%;
	border: 1px solid darkgrey;
}

#report-area > div:not(:last-child) {
	margin-bottom: 2rem;
}

.stat-header {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1rem;
}

.stat-value {
	font-weight: bold;
	font-size: 1.5rem;
}

thead {
	border-bottom: 1px solid black;
}

tr {
	border-bottom: 1px solid darkgray;
}
td,
th {
	padding: 0 5px;
}

#leaders-table.pp th:not(.pp),
#leaders-table.g th:not(.g),
#leaders-table.a th:not(.a),
#leaders-table.d th:not(.d),
#leaders-table.cp th:not(.cp),
#leaders-table.py th:not(.py),
#leaders-table.ry th:not(.ry),
#leaders-table.ty th:not(.ty),
#leaders-table.tch th:not(.tch),
#leaders-table.to th:not(.to),
#leaders-table.tpt th:not(.tpt),
#leaders-table.pm th:not(.pm),
#leaders-table.pd th:not(.pd),
#leaders-table.sp th:not(.sp),
#leaders-table.pp td:not(.pp),
#leaders-table.g td:not(.g),
#leaders-table.a td:not(.a),
#leaders-table.d td:not(.d),
#leaders-table.cp td:not(.cp),
#leaders-table.py td:not(.py),
#leaders-table.ry td:not(.ry),
#leaders-table.ty td:not(.ty),
#leaders-table.tch td:not(.tch),
#leaders-table.to td:not(.to),
#leaders-table.tpt td:not(.tpt),
#leaders-table.pm td:not(.pm),
#leaders-table.pd td:not(.pd),
#leaders-table.sp td:not(.sp) {
	display: none;
}

#leaders-table tr > th:nth-child(-n + 1),
#leaders-table tr > td:nth-child(-n + 1) {
	display: table-cell !important;
}

.free option.sub {
	display: none;
}

.table-container {
	max-width: 100%;
	overflow-x: auto;
}

#leaders-table thead {
	background-color: var(--white);
	position: sticky;
	border-bottom: 1px solid black;
	top: 0;
}
tbody > tr:hover {
	background-color: var(--color-1);
}

tr.invisible-row {
	display: none;
}

tbody.display-all > tr.invisible-row {
	display: table-row;
}

tbody {
	overflow-x: auto;
}

th:not(:last-child),
td:not(:last-child) {
	border-right: 1px solid darkgrey;
}

body:not(.plus) .plus-only {
	display: none;
}

.field {
	background-color: var(--field-color);
	border: 1px solid white;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.legend-container {
	height: 50px;
}

#stat-carousel {
	max-height: 50vh;
}

.graph-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.d3-tooltip {
	position: absolute;
	padding: 5px;
	background-color: black;
	color: var(--white);
	text-align: left;
	z-index: 3;
}

.d3-tooltip:after {
	box-sizing: border-box;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	pointer-events: none;
}

/* Northward d3-tooltips */
.d3-tooltip.n:after {
	content: '\25BC';
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}

/* Eastward d3-tooltips */
.d3-tooltip.e:after {
	content: '\25C0';
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}

/* Southward d3-tooltips */
.d3-tooltip.s:after {
	content: '\25B2';
	margin: 0 0 1px 0;
	top: -8px;
	left: 0;
	text-align: center;
}

/* Westward d3-tooltips */
.d3-tooltip.w:after {
	content: '\25B6';
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}

.slide-control-header {
	margin: auto;
	width: 70%;
}
