.button-row-container.d-flex.flex-column.w-100 
.action-container.d-flex.justify-content-around.w-100 
    button#drop.btn.btn-primary(type="button") Drop 
    button#throwaway.btn.btn-secondary(type="button") Throwaway 
    button#goal.btn.btn-success(type="button") Goal 
hr
.action-container.d-flex.justify-content-around.w-100 
    button#sub.btn.btn-info(type="button") Sub 
    button#timeout.btn.btn-warning(type="button") Timeout 
    button#opp-goal.btn.btn-danger(type="button") Opp Goal
hr
.d-flex.w-100
    button.m-auto(type="button") End Game