.accordion#filter-accordion.w-100.mb-3
    a(name="top")
    .accordion-item 
        h2.accordion-header#filter-header 
            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#filter-body" aria-expanded="true" aria-controls="filter-body") Filters 
        #filter-body.accordion-collapse.collapse.show(aria-labelledby="filter-header" data-bs-parent="#filter-accordion")
            .accordion-body
                .input-group-h.w-100.ai-c.mb-3
                    .input-group-f.input-group-1.px-2.overflow-hidden
                        label.form-label(for="stats-team-select") Select team:
                        select#stats-team-select
                            option(value="") [Select a team]
                            each team in user.teams 
                                option(value=`${team.id}`)= `${team.name}`
                    .input-group-f.input-group-1.px-2.overflow-hidden
                        label.form-label Tourney Start Date Range:
                        .w-100 
                            .date-slider-div #[span#stat-start-date] - #[span#stat-end-date]
                                #date-slider
                    .input-group-f.input-group-1.px-2.overflow-hidden
                        label.form-label(for="tournament-stat-select") Select event: 
                        select#tournament-stat-select(disabled)
                            option(value="") All
                .input-group-h.w-100.ai-c.mb-3 
                    .input-group-f.input-group-1.px-2.overflow-hidden
                        label.form-label(for="game-select") Select game(s):
                        .d-flex.multi-dropdown
                            button.d-flex#game-select(type="button" data-bs-toggle="collapse" data-bs-target="#game-dropdown" aria-expanded="false" aria-controls="game-dropdown" disabled)
                                .w-100 Select games 
                        #game-dropdown.multi-dropdown-contents.no-select.collapse
#report-area.w-100.px-3.d-flex.flex-column.f-1.overflow-auto.invisible
    .d-none
        include ../stats/overview
        include ../stats/eff
        include ../stats/leaders
    .plus-only.mb-3
        h5.mb-3 Individial/Team Visuals
        include ../stats/fieldUsage
        include ../stats/passChart
        include ../stats/connections
        #stat-carousel.carousel.slide(data-bs-ride="false")
            .carousel-inner
                .carousel-item                    
                .carousel-item.active
                .carousel-item
            button.carousel-control-prev(type="button" data-bs-target="#stat-carousel" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            button.carousel-control-next(type="button" data-bs-target="#stat-carousel" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next                            
