extends _base

block styles 
    link(rel='stylesheet' href='/css/signup.css')

block content 
    section.signup-header.navbar-container
        .container-fluid
            .container-fill
                include components/navbar
    section.forgot-pw-body 
        .container-fluid 
            #container-outer.container-fill 
                h3.mb-3 Reset your UltiStats password
                .form-container
                    form#pw-reset-form
                        label.form-label(for="email") E-mail
                        .input-group.mb-3
                            input#email.form-control(type="email" name="email" placeholder="E-Mail Address" required)
                        button.btn.btn-outline-success.hover-gray.mb-3
                            a(href="")
                                div Reset Password
                        h6.mb-3 Remember your password? #[a(href="/login") Log in here].
                        h6.mb-3 Don't have an account? #[a(href="/signup") Sign up here].

block scripts 
    script(src="/js/forgotPassword.js" type="module" defer)