doctype html
html
    head
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='/css/styles.css')
        link(rel='shortcut icon' href='/img/favicon.ico')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title UltiStats | #{title}    
    body
        input#data(type="hidden" value=`${msg}`)
        .container-all
            .message.invisible-div
        script(src="/js/managerRequest.js" type="module" defer)