extends _base

block styles 
    link(rel='stylesheet' href='/css/signup.css')

block content 
    section.signup-header
        .container-fluid
            .container-fill
                nav.navbar.navbar-expand-lg
                    .container-fluid.mb-4
                        a.navbar-brand(href="#") UltiStats
                        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-home" aria-controls="navbar-home" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon
                        .collapse.navbar-collapse#navbar-home 
                            ul.navbar-nav.ms-auto 
                                li.nav-item
                                    a.nav-link.active(href="/") Home
                                li.nav-item
                                    a.nav-link(aria-current="page") Login/Signup
                                li.nav-item
                                    a.nav-link(href="/contact") Contact
    section.signup-body
        .container-fluid 
            .container-fill 
                h3.mb-3 Log into UltiStats
                .form-container
                    form#login-form
                        label.form-label(for="email") E-mail
                        .input-group.mb-3
                            input#email.form-control(type="email" name="email" placeholder="E-Mail Address" required)
                        label.form-label(for="password") Password
                        .input-group.mb-3
                            input#password.form-control(type="password" name="password" placeholder="Password" required)
                        button.btn.btn-outline-success.hover-gray
                            a(href="")
                                div Log in
block scripts 
    script(Src="/js/login.js" type="module" defer)