extends _base

block styles 
    link(rel='stylesheet' href='/css/user.css')

block content 
    section.navbar-container
        .container-fluid
            .container-fill
                include components/navbar
    section.profile-body
        h3 My Stuff