extends _base

block styles 
    link(rel='stylesheet' href='/css/user.css')
    link(rel='stylesheet' href="/css/tournaments.css")

block modals 
    include components/modals/editPlayerModal
    include components/modals/addPlayerModal
    include components/modals/deletePlayerModal
    include components/modals/leaveTeamModal
    include components/modals/cancelRequestModal
    include components/modals/tournamentRosterModal


block content 
    section.navbar-container
        .container-fluid
            .container-fill
                include components/navbar
    section.profile-body
        h3 My Stuff
        ul.nav.nav-tabs.nav-fill.mb-3#myTab(role="tablist")
            li.nav-item(role="presentation")
                button.nav-link#team-tab(data-bs-toggle="tab" data-bs-target="#team-div" type="button" role="tab" aria-controls="team-div" aria-selected="false") Teams
            li.nav-item(role="presentation")
                button.nav-link.active#tournament-tab(data-bs-toggle="tab" data-bs-target="#tournament-div" type="button" role="tab" aria-controls="tournament-div" aria-selected="true") Tournaments
            li.nav-item(role="presentation")
                button.nav-link#game-tab(data-bs-toggle="tab" data-bs-target="#game-div" type="button" role="tab" aria-controls="game-div" aria-selected="false") Games
        .tab-content#myTabContent
            .tab-pane.fade#team-div(role="tabpanel" aria-labelledby="team-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/teams
            .tab-pane.fade.show.active#tournament-div(role="tabpanel" aria-labelledby="tournament-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/tournaments
            .tab-pane.fade#game-div(role="tabpanel" aria-labelledby="game-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/games

block scripts 
    script(src="/js/teams.js" type="module" defer)
    script(src="/js/tournaments.js" type="module" defer)