extends _base

block styles 
    link(rel='stylesheet' href='/css/user.css')
    link(rel='stylesheet' href="/css/tournaments.css")
    link(rel="stylesheet" href="/css/stats.css")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js" )
    script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")


block modals 
    include components/modals/editPlayerModal
    include components/modals/addPlayerModal
    include components/modals/deletePlayerModal
    include components/modals/leaveTeamModal
    include components/modals/cancelRequestModal
    include components/modals/tournamentRosterModal
    include components/modals/removeFromRosterModal
    include components/modals/editRosteredPlayerModal
    include components/modals/editLinesModal
    include components/modals/deleteLineModal
    include components/modals/editGameModal

block content 
    input#show(type="hidden" value=`${show}`)
    section.navbar-container
        .container-fluid
            .container-fill
                include components/navbar
    section.profile-body
        h3 My Stuff
        ul.nav.nav-tabs.nav-fill.mb-3#myTab(role="tablist")
            li.nav-item(role="presentation")
                button.nav-link#team-tab(data-bs-toggle="tab" data-bs-target="#team-div" type="button" role="tab" aria-controls="team-div" aria-selected="true") Teams
            li.nav-item(role="presentation")
                button.nav-link#event-tab(data-bs-toggle="tab" data-bs-target="#event-div" type="button" role="tab" aria-controls="event-div" aria-selected="false") Events
            li.nav-item(role="presentation")
                button.nav-link.active#stats-tab(data-bs-toggle="tab" data-bs-target="#stats-div" type="button" role="tab" aria-controls="stats-div" aria-selected="false") Stats
        .tab-content#myTabContent
            #team-div.tab-pane.fade(role="tabpanel" aria-labelledby="team-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/teams
            #event-div.tab-pane.fade(role="tabpanel" aria-labelledby="event-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/events
            #stats-div.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="stats-tab" tabindex="0")
                .tab-inner.flex-col.ai-c
                    include user/stats

block scripts 
    //- script(src="https://js.stripe.com/v3/" defer)
    //- script(src="/js/utils/stripe.js" type="module" defer)
    
    script(src="https://d3js.org/d3.v7.min.js")

    script(src="/js/teams.js" type="module" defer)
    script(src="/js/tournaments.js" type="module" defer)
    script(src="/js/games.js" type="module" defer)
    script(src="/js/stats.js" type="module" defer)
    script(src="/js/stats/overview.js" type="module" defer)
    script(src="/js/stats/efficiency.js" type="module" defer)
    script(src="/js/stats/leaders.js" type="module" defer)
    script(src="/js/stats/usage.js" type="module" defer)
    script(src="/js/stats/passChart.js" type="module" defer)
    script(src="/js/subscription.js" type="module" defer)