extends _base

block styles 
    link(rel='stylesheet' href='/css/signup.css')
    

block content 
    section.signup-header.navbar-container
        .container-fluid
            .container-fill
                include components/navbar
    section.signup-body
        .container-fluid 
            .container-fill 
                h3.mb-3 Reset your password
                .form-container
                    form#pw-reset-form
                        input#token(type="hidden" value=`${token}`)
                        label.form-label(for="password") Password
                        .input-group.mb-3
                            input#password.form-control(type="password" name="password" placeholder="Password" pattern=".{8,}" required)
                            span#pw-span.input-group-text.validator-span
                            .validator
                        label.form-label(for="password-confirm") Confirm Password
                        .input-group.mb-3 
                            input#password-confirm.form-control(type="password" name="password-confirm" placeholder="Confirm password" pattern=".{8,}" required)
                            span#pw-confirm-span.input-group-text.invalid-pw-confirm
                            .pw-confirm-validator.invalid
                        button.btn.btn-outline-success.hover-gray.mb-3
                            a(href="")
                                div Set new password
                        h6.mb-3 Remember your password? #[a(href="/login") Log in here].
                        h6.mb-3 Don't have an account? #[a(href="/signup") Sign up here].
block scripts 
    script(src="/js/pwReset.js" type="module" defer)